<ion-header>
  <ion-navbar>
    <ion-title>{{poet.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>
 
    <img class="circle-pic" src="{{poet.image}}"/>

    <ion-card-content>
      <ion-card-title >
       <button ion-button outline (click)="viewBiography(poet.bio)">更多生平</button>
      </ion-card-title>
     <!-- <p>
        {{poet.bio}}
      </p>-->
    </ion-card-content>

    <ion-item>
      <ion-icon name='document' item-left style="color: #d03e84"></ion-icon>
      诗歌总数
      <ion-badge item-right>{{poet.poems.length}}</ion-badge>
    </ion-item>
 
    <ion-item-group>
        <ion-item-divider color="light">律诗</ion-item-divider>
<!--       <button ion-item *ngFor = "let p of poet.poems" (click)="viewPoem(p)">
        
        {{p}}
      </button> -->
      
      <audio-track #audio *ngFor="let track of tracks"  [track]="track" >
          <ion-item>  
            <ion-thumbnail item-left>
                <ion-avatar >
                  <!-- <ion-icon name="play"></ion-icon> -->
                  <img class="circle-pic" src="{{poet.image}}">
                </ion-avatar>
              <audio-track-play dark [audioTrack]="audio"><ion-spinner></ion-spinner></audio-track-play>  
            </ion-thumbnail>
            <div item-content style="width:100%" >
              <h2  (click)="viewPoem(track.title)" >{{track.title}} </h2> 
              <audio-track-progress-bar dark duration progress [audioTrack]="audio" [ngStyle]="{visibility: audio.completed > 0 ? 'visible' : 'hidden'}"></audio-track-progress-bar>
            </div>
          </ion-item>    
        </audio-track>


      </ion-item-group>

  </ion-card>

</ion-content>