<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>菜单</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <i class="fa fa-{{p.icon}} {{p.color}}" aria-hidden="true"></i>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

<ion-footer>
  <ion-toolbar class="toolbar" >
    
    <audio-track #audio [track]="_audioPlayer.current" *ngIf="_audioPlayer.current">
        <ion-item>  
          <ion-thumbnail item-left>
              <ion-avatar >
            <ion-icon name="play"></ion-icon> 
                <img class="circle-pic" src="{{audioPlayer.current.art}}">
              </ion-avatar>
            <audio-track-play dark [audioTrack]="audio"><ion-spinner></ion-spinner></audio-track-play>  
          </ion-thumbnail>
          <div item-content style="width:100%" >
            <h2  (click)="viewPoem(_audioPlayer.current.title)" >{{_audioPlayer.current.title}} </h2> 
            <audio-track-progress-bar dark duration progress [audioTrack]="audio" [ngStyle]="{visibility: audio.completed > 0 ? 'visible' : 'hidden'}"></audio-track-progress-bar>
          </div>
        </ion-item>    
      </audio-track>
  </ion-toolbar>
</ion-footer>