// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.circle-pic{ 
    width:30px; 
    height:30px; 
    -webkit-border-radius: 50%; 
    border-radius: 50%; 
}

.item-avatar  {     
width:100% !important;  
height : 30px !important;  
max-width: 100px !important;  //any size
max-height: 30px !important; //any size 
}

.popover-page {

        width:100%;
        height: auto !important;
        ion-content
        {
            width:100%;
            height: auto !important;
            div
            {
    
                width:100%;
            }
        }
        
    }

    .popover-page .popover-content{

        width:100%;
        height: auto !important;
        left:0px;
        bottom:0px;
    }   

    .popover-page .popover-wrapper{
        
                width:100%;
                left:0px;
                height: auto !important;
            }   
            
   