<ion-header>
  <ion-navbar>



    <ion-buttons start>
      <button ion-button icon-only (click)="changePlayMode($event)">
        <ion-icon name="{{mode}}"></ion-icon>

      </button>
      <!--     <button ion-button icon-only  >
        <ion-icon name="shuffle"></ion-icon>

      </button>
      <button ion-button icon-only  >
        <ion-icon name="repeat"></ion-icon>
        
      </button> -->

    </ion-buttons>
    <ion-item item-start no-lines>{{getMode()}}</ion-item>


    <ion-buttons end>
      <button ion-button icon-only (click)="presentConfirm($event)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content style="left:0px;">


  <!-- Generated template for the PlayListComponent component -->

  <ion-list>
    <ion-item *ngFor="let t of tracks" >
      {{t.title}}
       
          <ion-icon name="heart-outline" (click)="like(t)" item-end></ion-icon>

      
          <ion-icon name="remove-circle-outline" (click)="remove(t)" item-end></ion-icon>

      
 
    </ion-item>


  </ion-list>

</ion-content>
